ul{
    background: rgba(160, 164, 167, 0.884);
    margin: 2px;
    
    }

h1 a{
    text-decoration: none;
    color: rgb(34, 24, 128);
}


.clicks{
    height:200px;
    width:50%;
    overflow:hidden; 
    overflow-y:scroll;
    background-color: rgb(130, 130, 153)204, 204, 230);
    margin: 6px;
    border: 0.2px solid;
    box-shadow: 0 0 4px rgb(59, 59, 59);
}

h1 {
    padding-left: 220px;
}

#wrapper{
    background-color: rgb(207, 218, 230);
    max-width: 650px;
    height: 500px;
    margin: auto;
    padding: 16px;
    box-shadow: 0 0 6px rgb(82, 82, 82);
    border-radius: 0.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.message{
    font-size: larger;
}

#input{
    width: 500px;
    height: 30px;
    background-color: rgba(207, 223, 223, 0.788);
    border: 0.2px solid;
    box-shadow: 0 0 4px rgb(148, 150, 150);
    margin-bottom: 5px;
}

#submit{
    height: 33px;
    border: 0.5px solid;
    box-shadow: 0 0 2px rgb(59, 59, 59);
    margin: 0px;
}